<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cronômetro Regressivo Retiro de Inverno da JEMIAC</title>
    <meta property="og:description" content="Confira em tempo real quanto tempo falta para começar o Retiro de Inverno da JEMIAC.">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"><!-- Core Meta Data -->
    <meta property="og:image" content="http://retirojemiac.azurewebsites.net/images/Thumbanil.JPEG">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800"> /** PIXELS **/
    <meta property="og:image:height" content="600"> /** PIXELS **/
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'><!-- Styles -->
    <link href="css/loader.css" rel="stylesheet" type="text/css">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->

</head>
<body>
    @RenderBody()

    
        <script src="js/jquery.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/main.js"></script>
    
   
    @RenderSection("Scripts", required: false)
</body>
</html>
